@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.subMenuContainer{
    background: #2F8CDC;

}


.subMenu{
    
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    
}

@media screen and (max-width: 768px) {
    .subMenu{
        flex-direction: column;
    }
}

.subMenu div{
    
    display: flex;
    
    
}

.subMenu div p {
    margin: 0px 5px;
    
}

.phone {
    transform: rotate(90deg);
}

.subMenu div i {
    margin-right:5px;
    font-size: 14px;
}

header{
    background-color: #fff;
    padding: 10px 0px; 
    
}

header nav{
   
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-left: 20px;
   
}

header nav ul li a{
    color: #2A335A;
}

header nav ul li a:hover{
   
   
    border-bottom: 3px solid #2A335A;
}


.mobile{
   display: none;
   
}

.mobile i{
    color: #2A335A;
    font-size: 25px;
    cursor: pointer;
}

.close{
    display: none;


   
}


@media screen and (max-width: 768px) {
    .mobile{
        display: block;
        padding-right: 20px;
     }

    header nav{
        padding: 0;
        
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.267);
        width: 100%;
        height: 100vh;
        top: 120px;

       

       
    }

    

    header nav ul li {
        margin-left: 0;
        height: 50px;
       
        background-color: #fff;
        
    }
    header nav ul li a{
        
        border: 1px solid #0094CC;
        width: 100%;
        height: 50px;
        padding-left:30px ;
        display: flex;
        align-items: center;
        color: #003764;

       
    }

    header nav ul li a:hover{
        background-color: #003764;
        color: #fff;
        border-bottom: none;
    }
    .navNone{
        display: none;
        
    }

   
    
}




.home{
    background-image: url("/img/bg2.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeContainer{
    display: flex;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
 


}

.homeTxt{
    width: 100%;
    border: 1px solid red;
    padding-left: 50px;
}


.homeTxt h1{
    font-size: 50px;
    color:#fff;
    margin-top: 200px;

}

.homeTxt p{
    color: #fff;
    font-size: 18px;
    max-width: 600px;
}


.homeTxt button{
    margin-top: 50px;
    background:#002E75 ;
    color: #fff;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.homeTxt button:hover{
    background: #2F8CDC;
}

/**/

.empresa{
    margin-top: 30px;
}


.titulo h2{
    font-size: 30px;
    text-align: center;
}

.titulo hr{
    height: 10px;
    background: linear-gradient(270deg, rgba(55, 153, 237, 0.88) 21.03%, rgba(113, 55, 237, 0.3168) 100%);
    border: none;
}

.empresa hr{
    width: 125px;
    margin: 0 auto;
}

.empresaTxt{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;

}

.empresaDiv1, .empresaDiv2{
    flex: 1;
    line-height: 1.5;
    padding: 0px 30px;
    margin-bottom: 50px;
    border: 1px solid red;
}

.empresaDiv1 div {
    border: 1px solid red;
    max-width:300px ;

    margin: 0px auto 30px;
    display: flex;
    justify-content: center;
}


.empresaDiv1 div img{
    width: 250px;
}


.empresaDiv2 h3{
    color: #002E75;
    font-style: italic;
}


.empresaDiv2 p{
    font-size: 16px;
   
    
}


.empresaImg {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 10px 10px rgba(55, 153, 237, 0.41));
    padding: 0px 50px;
}

.empresaImg img{
    width: 100%;
    height: 212px;
    object-fit: cover;
}