@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.subMenuContainer{
    background: #2F8CDC;

}


.subMenu{
    
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    
}

@media screen and (max-width: 768px) {
    .subMenu{
        flex-direction: column;
    }
}

.subMenu div{
    
    display: flex;
    
    
}

.subMenu div p {
    margin: 0px 5px;
    
}

.phone {
    transform: rotate(90deg);
}

.subMenu div i {
    margin-right:5px;
    font-size: 14px;
}

header{
    background-color: #fff;
    padding: 10px 0px; 
    
}

header nav{
   
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-left: 20px;
   
}

header nav ul li a{
    color: #2A335A;
}

header nav ul li a:hover{
   
   
    border-bottom: 3px solid #2A335A;
}


.mobile{
   display: none;
   
}

.mobile i{
    color:#fff;
    font-size: 25px;
    cursor: pointer;
}

.close{
    display: none;


   
}



@media screen and (max-width: 768px) {
    .mobile{
        display: block;
        padding-right: 20px;
     }

    header nav{
        padding: 0;
        
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.267);
        width: 100%;
        height: 100vh;
        top: 120px;

       

       
    }

    

    header nav ul li {
        margin-left: 0;
        height: 50px;
       
        background-color: #fff;
        
    }
    header nav ul li a{
        
        border: 1px solid #0094CC;
        width: 100%;
        height: 50px;
        padding-left:30px ;
        display: flex;
        align-items: center;
        color: #003764;

       
    }

    header nav ul li a:hover{
        background-color: #003764;
        color: #fff;
        border-bottom: none;
    }
    .navNone{
        display: none;
        
    }

   
    
}



